.contactme{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    border-radius: 2px;
  }
  
  body{
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  .footer{
    position: relative;
    bottom: 0;
    margin-left: 43%;
    color: white;
    text-align: right;
  }

  .title{
    text-align: left;
    margin-top:10px;
    margin-left: 12%;
    max-width:76%;
    left:20px;
    color: grey;
    background-color: white;
    font-family: 'Play', sans-serif;
  }

  .labelsearch{
    text-align: left;
    margin-top:20px;
    margin-left: 12%;
    max-width:76%;
    left:20px;
    height: 150px;
    font-size: 24px;
    color:white;
    background-color: darkgray;
  }

  .labelsearch input{
    margin-left: 10px;
    max-width: 30%;
  }

  .labelsearch h2{
    margin-left: 10px;
    display:inline-block;
  }

  .labelsearch button{
    margin-top: -36px;
    margin-left: 36%;
    margin-bottom: 50px;
  }

  .explaininfo{
    text-align: left;
    margin-top:-140px;
    margin-bottom: 80px;
    margin-left: 49%;
    max-width:38%;
    font-size: 24px;
    color:white;
    background-color: lightpink;
  }

  .explaininfo h2{
    text-align: justify;
    font-size: 32px;
    font-family: 'Roboto Mono', monospace;
  }

  .PokeDex_Container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    max-width: 1200px;
  }

  .pokemon {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100,100,100,0.5);
    padding:20px;
    text-align: center;
    margin:10px;
  }

  .pokemon .img-containerlist{
    background-color: rgba(255,255,255,0.6);
    border-radius: 50%;
    margin-top: 20px;
    height: 130px;
    width: 130px;
  }

  .pokemon .img-containerlist img {
    margin-top: 20px;
    max-width: 90%;
  }

  .pokemon .info{
    margin-top:20px;
  }

  .pokemon .number{
    background-color: #fff;
    border-radius: 10px;
    font-size: 0.8em;
    padding:5px 10px;
  }
  
  .pokemon .name{
    margin:15px 0 7px;
    letter-spacing: 1px;
  }

